@import url("https: //fonts.google.com/share?selection.family=Montserrat");
*{
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  font-family:'Montserrat',sans-serif;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2.4px;
}
.header__item {
  font-size: 18px;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
  display: inline;
  color: #f00;
  text-decoration: none;
  padding: 21px 33px;
}
.header__list li {
  list-style: none;
  display: inline-block;
  margin-top: 21px;
  margin-bottom: 21px;
}
.block { 
  background-image: url(../img/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 789px;
 }
.text{font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
  margin: 57px 33px;
}
.btn{
  background: #ff0000;
  border-radius: 4px;
  color: #ffffff;
  width: 191px;
  height: 51px;
  border: 0;
}
.footer{
  font-weight: 700;
  text-align: right;
  margin-right: 105px;
  margin-bottom: 29px;
 }